@model OnlineVotingSystem.Models.ViewModels.candidatesViewModel

@{
    ViewBag.Title = "Create";
    var loginUserId = ViewBag.loginUserId;

}



<div class="main voteMain"style="padding-top: 30px;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="accountDiv">
            <h4>Voter Form</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.VoterList.VoterId, htmlAttributes: new { @class = "" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.VoterList.VoterId, new { htmlAttributes = new { @class = "un" } })
                    @Html.ValidationMessageFor(model => model.VoterList.VoterId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VoterList.userId, htmlAttributes: new { @class = "" })
                <div class="col-md-10">
                    @Html.EditorFor(model => loginUserId, new { htmlAttributes = new { @class = "un", disabled = true, type = "password" } })
                    @Html.ValidationMessageFor(model => model.VoterList.userId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VoterList.ElectionId, htmlAttributes: new { @class = "" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.VoterList.ElectionId, new { htmlAttributes = new { @class = "un" } })
                    @Html.ValidationMessageFor(model => model.VoterList.ElectionId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VoterList.PresidentCandidateId, htmlAttributes: new { @class = "" })
                @foreach (var item in Model.PresidentCandidate)
                {
                    <div class="col-md-10">
                        @Html.RadioButtonFor(model => model.VoterList.PresidentCandidateId, item.Id, new { id = "" })
                        <span>@item.Name</span>



                    </div>

                }
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VoterList.VicePresidentCandidateId, htmlAttributes: new { @class = "" })
                @foreach (var item in Model.VicePresidentCandidate)
                {
                    <div class="col-md-10">
                        @Html.RadioButtonFor(model => model.VoterList.VicePresidentCandidateId, item.Id, new { id = "" })
                        <span>@item.Name</span>

                    </div>

                }
            </div>




            @*    <div class="form-group">
                    @Html.LabelFor(model => model.VoterList.PresidentCandidateId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.VoterList.PresidentCandidateId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.VoterList.PresidentCandidateId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.VoterList.VicePresidentCandidateId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.VoterList.VicePresidentCandidateId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.VoterList.VicePresidentCandidateId, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            @*        <div class="form-group">
                    @Html.LabelFor(model => model.VoterList.VotedTime, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.VoterList.VotedTime, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.VoterList.VotedTime, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Vote" class="submit" />
                </div>
            </div>
        </div>
    }
</div>

    <div>
        @Html.ActionLink("Back to Home", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
