@model IEnumerable<OnlineVotingSystem.Models.VoterList>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <h1>Welcome to @DateTime.Now.ToString("MMMM yyyy") Elections</h1>
        <p>Election for President and Vice President are being help, participate in the election by using your right to vote to choose a suitable candidate for corresponding posts.</p>
        <p>Register yourself with your Voter ID to vote.</p>




    </div>
    <p>
        @Html.ActionLink("Register and Vote", "Create", new { id = "voteRegisterIdBtn" }, new { @class = "btn btn-primary" })
    </p>

</div>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VoterId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElectionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PresidentCandidateId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VicePresidentCandidateId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VotedTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VoterId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElectionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PresidentCandidateId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VicePresidentCandidateId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VotedTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
